<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OpenAIAPIKey</key>
    <string>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</string>
</dict>
</plist>
